body {
  background-image: url("IMG_3231.jpg");
  background-size: cover;
  font-size: 1.4em;
}

h1{
  color: white;
  background-color:#a366ff;
}
#pic{
  color:black;
  background-color:   #F5FFFA;
  font-size: 18px;
  font-family: Arial;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  border-radius: 8px;
  padding: 10px;
  background:-webkit-radial-gradient(top left,green,yellow,blue);
}
#pic img{
  width:200px;
  height:200px;
  border-radius: 100px;
  filter: hue-rotate(60deg);
  
}
#pic h2{
  font-size: 30px;
  font-family: Verdana, serif;
  font-style: oblique;
}
#pic h2 span{
  color: blue;
  font-family: Georgia;
}
#pic p{
  line-height: 2.0;
}
.objective{
  font-family: "Arial", serif;
  font-size:20px; 
}
.experience p{
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
  font-size: 20px;
  font-weight: bold;
  color: #eadf0b;
}
.volunteer p{
 font-family: "Times New Roman", Times, serif;
  font-style: oblique;
  font-size: 20px;
  font-weight: bold;
  color: #eadf0b; 
}
.experience ul li{
  text-align: justify;
  line-height: 1.8;
}
.volunteer ul li {
 text-align: justify;
 line-height: 1.8; 
}
#headings{
  background-color:  #f8ecf2
  font-family:"Arial", serif;
  font-style: oblique;
  font-size:18px; 
}
#headings th{
  background-color:#a366ff;
  font-family: "Georgia", Serif;
  font-style: Normal;
  color:white;  
}
#headings tr td ul li{
  color: #cc0000;
  font-size: 15px;
  font-weight: bold;  
}
h3{
  height: 40px;
  font-size:25px;
  color:#d81128;
  text-shadow: 3px 3px black;
  padding:05px;
  box-shadow: inset 10px 10px 5px #686747, inset 10px -10px 5px #f2efc1;
  border-radius: 8px;
}